*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* color: ; */
  font-family: Poppins !important;
}

html{
  background-color: rgb(242, 244, 247);
}
/* .css-1tyr36a{
  height:450px !important;
  overflow:'scroll',
} */

.css-1apkmlw-MuiButtonBase-root-MuiButton-root{
  min-width: 20px !important;
  
}

.css-r5in8e-MuiInputBase-root-MuiInput-root::before{
  border-bottom: none !important;
}
.css-r5in8e-MuiInputBase-root-MuiInput-root::after{
  border-bottom: none !important;
}

.css-av7ymp-MuiButtonBase-root-MuiIconButton-root {
  margin-right: 20px !important;
}

.logo{
  width:150px
}
.css-1gcpdrz-MuiPaper-root-MuiDialog-paper {
  width: 500px !important;
}

.active .active-class{
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.css-1ahxkcz-MuiPaper-root-MuiTableContainer-root{
  max-width: 96% !important;
}


.css-byenzh-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track{
  background-color: #a5d6a7 !important;
}

.css-1il536s-MuiButtonBase-root-MuiButton-root, .css-1elcrhq-MuiButtonBase-root-MuiButton-root, .css-ch5c8q-MuiButtonBase-root-MuiButton-root{
  min-width: unset !important;
}

.css-ch5c8q-MuiButtonBase-root-MuiButton-root{
  display: flex;
  justify-content: unset !important;
}


.scrollbar{
  overflow-y: scroll;
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar {
  width: 5px; 
  height: 12px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px; 
}

.scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.register{
  width: 100%;
}
.profile-link{
  width: fit-content;
  height: 2rem;
 
}

.css-15stavw-MuiInputBase-input-MuiInput-input{
  font-size: 12px !important;
}
.no-underline {
  text-decoration: none;
}

.css-yiavyu-MuiBackdrop-root-MuiDialog-backdrop{
  background-color: rgba(142, 140, 140, 0.3) !important;
}

.no-underline:active{
  color:black
}

.css-1o0kqxp-MuiInputBase-root-MuiOutlinedInput-root{
  font-size: 14px !important;
}
