*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* color: ; */
}

.css-1tyr36a{
  height:450px !important;
  overflow:'scroll',
}

.css-1apkmlw-MuiButtonBase-root-MuiButton-root{
  min-width: 20px !important
  
}

.css-r5in8e-MuiInputBase-root-MuiInput-root::before{
  border-bottom: none !important;
}

.logo{
  width:150px
}
