*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* color: ; */

}
html{
  background-color: rgb(242, 244, 247);
}
/* .css-1tyr36a{
  height:450px !important;
  overflow:'scroll',
} */

.css-1apkmlw-MuiButtonBase-root-MuiButton-root{
  min-width: 20px !important;
  background-color: #1ed897;
  
}

.css-r5in8e-MuiInputBase-root-MuiInput-root::before{
  border-bottom: none !important;
}
.css-r5in8e-MuiInputBase-root-MuiInput-root::after{
  border-bottom: none !important;
}

.css-av7ymp-MuiButtonBase-root-MuiIconButton-root {
  margin-right: 20px !important;
}

.logo{
  width:150px
}
.css-1gcpdrz-MuiPaper-root-MuiDialog-paper {
  width: 500px !important;
}

.active .active-class{
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.css-1ahxkcz-MuiPaper-root-MuiTableContainer-root{
  max-width: 96% !important;
}